{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
<section>        
    <h1>Qui sommes-nous ?</h1>
    <div>
        <article class="content">
        <h2>Mentions légales</h2>
            <p>Le site Internet neobook.fr (ci-après le "Site") est édité par la SARL Neobook, 8 Rue Maurice Ravel, 37130 Cinq-Mars-La-Pile, France, inscrite au RCS de TOURS sous le numéro  788 985 414, au capital social de 10 000,00 euros. (ci-après, "Neobook"). Le directeur de la publication du Site est Monsieur Christophe Beauquel.</p>
        <h2>Hébergement</h2>
            <p>Le site est hébergé par :</p>
            <p>PLANETHOSTER.</p>
            <p>Laval (grand Montréal),</p>
            <p>Québec, Canada</p>
            <p>N° de déclaration CNIL : 1628531</p>
        </article>
    </div>
</section>

{% endblock %}
