{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
<section>        
    <h1>Qui sommes-nous ?</h1>
    <div>
        <article class="content">
        <h2>Qui sommes-nous, que faisons-nous ?</h2>
            <p>NeoBook est une structure éditoriale indépendante basée en Touraine. La structure propose la numérisation d’œuvres pour les maisons d’édition désireuses de proposer leur catalogue au format numérique. Notre équipe est experte dans la génération de livres aux formats électroniques. Nous proposons donc aux éditeurs de nous confier leurs textes, que nous nous chargerons de transformer au format ePub, format qui permet un confort de lecture bien supérieur à celui du PDF.</p>
        <h2>Que proposons-nous ?</h2>
            <p>Notre offre est simple : nous ne facturons pas la numérisation. L’éditeur nous confie ses fichiers (In Design, Quark Xpress, Word), et nous nous chargeons de les numériser, puis de les rendre disponibles sur toutes les librairies en ligne, grâce à un partenariat avec un diffuseur français.</p>
            <p>En plus de notre librairie, vos livres numériques pourront être téléchargés sur les sites d'Amazon, La Fnac, Google Play livres, Kobo, Cultura, Decitre, Chapitre.com, etc., soit une centaine de librairies, pour un maximum de visibilité. Un système de promotion combiné entre l'éditeur et nos actions de promotion offrira un second souffle aux livres.</p>
            <p>Dès qu'un volume de livres d'un éditeur est numérisé et placé sur les librairies en ligne, NeoBook fait une mise en avant. L'information est ensuite relayée sur les réseaux sociaux.</p>
            <p>Orientée majoritairement littérature des terroirs de France, NeoBook a déjà lié des partenariats avec plusieurs éditeurs régionaux comme CPE, Marivole, Ella éditions, Cairn Éditions, les Éditions  Nouvelle bibliothèque, De Borée.</p>
        <h2>Notre offre : </h2>
            <p>La démarche que nous proposons n’engage à rien puisque aucune avance financière n'est requise pour le passage des livres en numérique. Nous parions sur le succès des livres et le talent des auteurs. Ainsi, si l’éditeur n’a pas la trésorerie nécessaire au passage de son catalogue en numérique, le problème est résolu !</p>
            <p>Nous proposons aux éditeurs de nous contacter pour en connaître plus sur notre offre.</p>
        </article>
    </div>
</section>

{% endblock %}
