button{
    margin: 0px 20px;
    color: var(--fontDark);
    text-decoration: none;
    align-items: center;
    background-color: var(--backgroundDark);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
}
/**
PAGE DE CONTENU
*/
.content{
    background-color: var(--backgroundItem);
    padding:20px;
    border-top:solid 3px var(--fontLight);
    width:80%;
    margin:auto;
}

.content p{
    margin-bottom:12px;
}

.content h2{
    font-size:1.2em;
}

.content h3{
    font-size:1.1em;
    text-align:left;
}


/**
Barre de réassurance
*/

.reassurance{
    width:100%;
    height:100px;
    background-color: var(--backgroundDark);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:var(--fontDark);
    font-size: 1.2em;
}

.reassurance p {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:33%;
}

.reassurance p span {
    font-size: 3em;
    padding:0px 10px;
    width:90px;
    height:65px;
}

/***********************Footer***************************************/

footer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background: var(--backgroundItem);
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding:10px;
}

.footer-column li {
    padding-bottom:6px;
}

.footer-column a {
    color:var(--fontLight);
}

.footer-column h3{
    border-bottom: solid 3px var(--fontLight);
    font-family: "Alexandria", "sans-serif";
    font-size: 2em;
    color:var(--fontLight);
    font-weight: normal;
    padding-bottom:3px;
    margin-bottom:10px;
}

/***********************FORMULAIRE DE CONNEXION********************/
.login{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:60%;
    background-color: var(--backgroundItem);
    border-radius:20px;
    margin:40px auto;
    padding:40px;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width:60%;
    margin:30px auto;
    background-color: var(--backgroundItem);
    border-radius:20px;
    margin:40px auto;
    padding:40px;
}

.form-container form{
    width:100%;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

.form-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.form-row label{
    width: 25%;
    margin-right: 10px;
    font-size: 1.2em;
}

.form-row input{
    width: 60%;
    font-size: 1.2em;
    height:50px;
    border-radius:15px;
    border:2px solid var(--fontDark);
    background-color: var(--background);
    padding:5px 20px;
}

.register{
    margin:0;
}

.form-container button{
    margin:auto;
}

/****************************CUSTOMER ACCOUNT*********************************/
.book-card h2{
    height:80px;
}

.account{
    justify-content:center;
}

.customer-account{
    font-size:5em;
    width:75%;
    border-bottom:solid 3px var(--fontLight);
    text-align:center;
}

.account-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px var(--fontLight);
    width: 60%;
}

a.account-content{
    color:var(--fontLight);
    text-decoration:none;
    padding-bottom:7px;
}

a.account-content:hover{
    color:var(--linkColor);
}

.account-content span{
    font-size:3em;
    margin:20px 0px 5px 0px;
}

.end{
    border:none;
}

/****************************************PANIER et COMMANDE***********************************/
.basket-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}

.basket-container table{
    width:70%;
}

.basket-tfoot{
    background-color: var(--backgroundItem);
    font-weight:700;
}

.basket-foot{
    width:70%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:400px;
}

.basket-foot a{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.basket-foot button{
    background-color: var(--linkColor);
    border:none;
}

/****************************************MA BIBLIOTHEQUE***********************************/
.book-card-landscape {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:0px 10px 15px 10px;
    width:27%;
    background: var(--backgroundItem);
    border-radius:0px 0px 15px 15px;
    padding:6px 6px 20px 6px;
    text-decoration:none;
    color:var(--fontLight);
    border-top:solid 3px var(--fontLight);
}

.mybook {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:space-between;
    height:275px;
    margin:0px 10px 15px 10px;
    padding:6px 6px 10px 20px;
}

.stars-display .star {
    color: var(--linkColor);
    font-size: 2rem;
    margin-right: 2px;
}

.stars-display .grey {
    color: grey;

}

ul.feedback{
    margin-left: 0px;
    padding-left: 0px;
}

.btn-bookshelf {
    display:flex;
    flex-direction: row;
    justify-content: center;
    color:var(--fontDark);
    text-decoration: none;
    align-items: center;
    background-color: var(--backgroundDark);
    padding:10px;
    border-radius:10px;
}

p.book-type{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:45px;
}

/**********************************FORMULAIRE FEEDBACK*********************************/
.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    gap: 5px;
}
.star {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
}
input:checked ~ label.star,
label.star:hover,
label.star:hover ~ label.star {
    color: gold;
}

